.grayed {
    color: gray;
}

#connect4MainCanvasDiv {
    margin-bottom: 1rem;
}

    #connect4MainCanvasDiv.c4-fixed-height {
        height: 500px;
    }

@media screen and (max-width: 768px) {
    #connect4MainCanvasDiv.c4-fixed-height {
        height: auto;
    }
}

#connect4MainCanvas {
    display: block;
    border: 1px solid black;
    margin: auto;
}

#connect4Controls {
    text-align: center;
    font-size: 0.95rem;
}

input[type=range] {
    display: inline;
    min-width: 100px;
    padding:0;
}

label {
    display: inline;
    font-weight: normal;
}

output {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    color: black;
}

.table-container {
    display: table;
    margin: auto;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    text-align:left;
}
.padding-left {
    padding-left: 0.5rem;
}
.table-row:last-of-type .table-cell {
    border-bottom-style: none;
}
    
#textOutputSpan,
#processingTimeLabel,
#processingTimeValue,
#processingTime-s,
#processingTime {
    display: none;
}